@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App{
    font-family: 'Roboto';
    background-color: #000;
    min-height: 100vh;
}

.titulo{
    background-color: #3e3d3e;
    color: white;
    text-align: center;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
}